@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-pulse {
  animation: btn-pulse 5s infinite;
  box-shadow: 0 0 0 0 hsla(var(--p) / 0);
}

@-webkit-keyframes btn-pulse {
  50% {
    transform: scale(1);
  }
  70% {
    transform: scale(0.9);
  }
  80% {
    box-shadow: 0 0 0 0 hsla(var(--p) / 0);
  }
  90% {
    transform: scale(1);
    box-shadow: 0 0 0 10px hsla(var(--p) / 0.5);
  }
  98% {
    box-shadow: 0 0 0 0 hsla(var(--p) / 0);
  }
}
